body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url("a1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size: cover;
    vertical-align: baseline;
    text-align: center;
    padding-top: 200 px;
    color: aliceblue;


}

h1 {
    color: goldenrod;
}

#message-el {
    font-style: italic;
}

button {
    color: #016f32;
    width: 150px;
    background-color: goldenrod;
    border: 0ch;
    padding: 5px;
    border-radius: 2px;
    font-weight: bold;
    margin-top: 10px;
}








/* 
3. Style the button according to the provided design
text color - #016f32
width      - 150px
background - goldenrod
 */